:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #f0fdfa,
    #ffdbdb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom left,
    #ffffff,
    #c9ede5 25%,
    #ffdbdb 100%
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #2980b9;
  text-decoration: inherit;
}
a:hover {
  color: #2980b9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img#logo-image {
  width: 4rem;
}

li a {
  font-weight: 700;
}

h1,
h2,
h3 {
  color: white;
  text-shadow: 4px 2px 0px #2980b9;
}
